* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.header .header-logo {
    border-right: 1px solid #CCCCCC;
    padding-right: 32px;
}

.header .header-logo img {
    width: 173px;
    height: 50px;
}

.navigation {
    padding-left: 8px;
}

.navigation ul li {
    list-style: none;
    padding-left: 12px;
    padding-right: 12px;
}

.navigation ul {
    display: flex;
}