* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
}

.header .header-logo {
    border-right: 1px solid #CCCCCC;
}

.header .header-logo img {
    width: 173px;
    height: 50px;
}

.navigation ul li {
    list-style: none;
}

.navigation ul {
    display: flex;
}